/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 1020px;
    top: 50px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: navy;
    float: left;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: red;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: red;
    margin-left: -15px;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: aqua;
    /* padding: 10px; */
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #f1dc3a;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    color: #d1d1d1;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align:center;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

.bm-item:hover {
  color: #ffffff;
}